@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    overflow-x: auto;
  }

.topbar {
    position: fixed;
    background: #fff;
    padding: 0 20px;
    width: 100%;
    height: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    display: grid;
    align-items: center;
    z-index: 1;
    grid-template-columns: 2fr 10fr 0.4fr 1fr;
}

.logo h2 {
    color: #a2b9bc;
}

.search {
    position: relative;
    width: 60%;
    justify-self: center;
}

.search input {
    width: 100%;
    height: 40px;
    padding: 0 40px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 12px;
    background: #e6e2d3;
}

.search i {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.user {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}




@media screen and (max-width: 1200px) {
    .topbar {
        grid-template-columns: 1fr 4fr 0.4fr 1fr;
    }

    .search {
        width: 50%;
    }

    .sidebar {
        width: 100%;
        position: static;
        top: 60px;
    }

}
@media screen and (max-width: 950px) {
    .topbar {
        grid-template-columns: 1fr 4fr 0.4fr 1fr;
    }

    .search {
        width: 50%;
    }

    .sidebar {
        width: 100%;
        position: static;
        top: 60px;
    }

    .image_dash {
        width: auto;
        height: auto;
        margin: auto;
        
    }
}
@media screen and (max-width: 530px) {
    .topbar {
        grid-template-columns: 1fr 4fr 0.4fr 1fr;
    }

    .search {
        width: 50%;
    }

    .sidebar {
        width: 100%;
        position: static;
        top: 60px;
    }

    .image_dash {
        width: auto;
        height: auto;
        
    }
}

/* Code Team */
.kontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.kontainer .kartu {
    width: 200px;
    margin: 10px;
    background: #444;
    border-radius: 10px;
    transition: 0.3s;
}

.kontainer .kartu:hover {
    background: coral;
}

.kontainer .kartu .profile {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto;
    border: 5px solid coral;
}

.kontainer .kartu .profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.kontainer .kartu .detail h2,
.kontainer .kartu .detail h4 {
    margin: 10px 0;
}

.kontainer .kartu .social {
    margin: 15px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.kontainer .kartu .social a {
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    transition: 0.2s;
}

.kontainer .kartu .social a:hover {
    background: #222;
}

.kontainer .kartu .social a i {
    font-size: 21px;
    color: white;
}

@media screen and (max-width: 1200px) {
    .kontainer .kartu {
        width: 100%;
    }
}

/* awal code dashboard */
footer {
    background: #571212;
    position: absolute; 
    bottom: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -7px 25px 0 rgba(0, 0, 0, 0.08);
}

.wrapper {
    display: grid;
    grid-template-columns: 66% auto;
    padding: 4em 1em;
    text-align: center;
    padding-left: 200px;
    padding-bottom: 30px;
    padding-right: 200px;
    color: #fff;
    margin-left: 250px;
    text-shadow: 10px 10px 20px black; 
}


.foot ul {
    display: grid;
    list-style-type: none;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
}

.foot ul li {
    padding: 2em;
    color: #E98A8A;
}

.foot ul li span {
    display: block;
    font-size: 1.4em;
    margin-bottom: 1em;
    color: white;
}

@media screen and (max-width: 1200px) {
    .wrapper {
        grid-template-columns: 100%;
        margin: auto;
    }

    .foot {
        padding-top: 170%;
    }
}
@media screen and (max-width: 700px) {
    .wrapper {
        grid-template-columns: 100%;
        margin: auto;
    }

    .foot {
        padding-top: auto;
    }
}
/* awal code sidebar */
.sidebar {
    position: fixed;
    top: 60px;
    width: 50px;
    height: calc(100% - 60px);
    background: #149cae;
    overflow-x: hidden;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    width: 100%;
    list-style: none;
}

.sidebar ul li a {
    width: 100%;
    text-decoration: none;
    color: black;
    height: 60px;
    display: flex;
    align-items: center;
}

.sidebar ul li a i {
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}

@media screen and (max-width: 200px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        left: 0;
        top: 0;
    }

    .sidebar ul {
        display: flex;
        justify-content: space-between;
    }

    .sidebar ul li {
        width: auto;
    }

    .sidebar ul li a {
        height: 40px;
        padding: 0 10px;
    }

    .sidebar ul li a i {
        min-width: 40px;
        font-size: 18px;
    }
}

/* main section */
.main {
    position: absolute;
    top: 60px;
    width: calc(100% - 50px);
    padding-right: 10px;
    left: 50px;
    min-height: calc(100%);
    background: whitesmoke;
    overflow-x: auto;

}
.main_dash {
    position: absolute;
    top: 60px;
    width: calc(100% - 50px);
    padding-right: 10px;
    left: 50px;
    min-height: calc(100%);
    background: whitesmoke;
    overflow-x: auto;
    background-image: url('images/Gambar_Vanding.jpg');
    background-size: cover; 
    background-position: center;

}


.cards{
    width: 200%;
    display: grid;
    padding: 35px 20px;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}
.cards .card{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 rgba(0,0,0,0.08);
}


@media screen and (max-width: 1280px) {
    .main {

        height: auto;
        left: 50px;
    }
    .main_dash {

        height: auto;
        left: 50px;
    }

    .cards {
        grid-template-columns: 1fr;
        width: auto;
    }

    .cards.card {
        flex-direction: column;
    }

    .cards.card img {
        width: 100%;
        margin-bottom: 20px;
    }

    .cards.card h2 {
        font-size: 1.2rem;
    }

    .cards.card p {
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 530px) {
    .main {
        width: auto;
        height: auto;
        left: 50px;
        padding-bottom: 50%;
        
    }
    .main_dash {
        width: auto;
        height: auto;
        left: 50px;
        padding-bottom: 50%;
        
    }

    .cards {
        grid-template-columns: 1fr;
        width: auto;
    }

    .cards.card {
        flex-direction: column;
    }

    .cards.card img {
        width: 100%;
        margin-bottom: 20px;
    }

    .cards.card h2 {
        font-size: 1.2rem;
    }

    .cards.card p {
        font-size: 0.9rem;
    }
}


/* bagian charts */
.charts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    max-width: 100%;
    padding: 20px;
    overflow-x: auto;
    padding-top: 0;
  
}

.chart {
    background: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    grid-column: span 1;
}

.line_chart {
    background: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    grid-column: span 2;
}

.chart.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media screen and (max-width: 1280px) {
    .charts {
        grid-template-columns: 1fr;
        width: 1280px;
    }

    .chart {
        grid-column: span 1;
    }

    .line_chart {
        grid-column: span 2;
        margin-bottom: 1800px;
    }
}
.wadah {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-bottom: 100px;
}

.box {
    width: 450px;
    max-width: 90%;
    height: 500px;
    background: #EEF7FF;
    backdrop-filter: blur(20px);
    border-radius: 30px;
    padding: 40px;
    box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.1),
                -2px -0px 15px 2px rgba(0,0,0,0.1);
    z-index: 10;
}

.rating {
    text-align: center;
    margin: 20px auto;
    position: relative;
    display: flex;
    flex-direction: row-reverse; 
    justify-content: center;
    align-items: center; 
}

.rating > input {
    display: none;
}

.rating > label:before {
    content: "\2605";
    font-size: 2em;
}

.rating > input:checked ~ label:before,
.rating:not(:checked) > label:hover ~ label:before {
    content: "\2605";
    color: gold;
}

.review-text {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 191, 0);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: rgb(255, 191, 0);
}

.review-result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.bottom {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    position: relative;
}

.bottom .review-text {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    position: relative;
}

.bungkus {
    position: absolute;
    width: 455px;
    max-width: 90%;
    height: 500px;
    border-radius: 30px;
    background: rgb(255, 191, 0);
    box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.115),
                -2px -0px 15px 2px rgba(0,0,0,0.054);
    transform: rotate(5deg);
}


/* Media queries untuk tampilan PC */
@media screen and (max-width: 1200px) {
    .wadah
        min-height: 80vh;
        margin-bottom: 800px;
    }

    .box, .bungkus {
        height: auto;
        padding: 20px;
    }

    .review-text {
        height: 80px;
    }

    .rating > label:before {
        font-size: 1.5em;
    }

/* Media queries untuk tampilan HP */
@media screen and (max-width: 530px) {
    .wadah
        min-height: 80vh;
        overflow-y: auto;
    }

    .box, .bungkus {
        height: auto;
        padding: 20px;
    }

    .review-text {
        height: 80px;
    }

    .rating > label:before {
        font-size: 1.5em;
    }